
#logo img{
  width:30%;
}
nav{
  background-color: white;
}
#navigation{
  opacity: 0.95;
  outline: none;
  width:100%;
  background-color: white;
}
#navigation .navbar-brand span{
  margin: 2rem;
  color:rgb(154,51,52);
}
#navigation ul{
  outline: none;
  margin-top:-4.8rem;
  margin-right: 3rem;
}
#navigation li a{
  margin-right:3rem;
  color: rgb(33,124,126);
  border:3px solid rgb(33,124,126);
  border-radius: 10px;
  box-shadow: 5px 5px 1px 2px lightgrey;
}
 
#navigation li a:hover{
  font-size:2rem;
  color: rgb(154,51,52);
  border:3px solid rgb(154,51,52);
}

#UserLogin table{
  margin:10rem;
  box-shadow:4px 4px 2px 3px rgb(33,124,126);
  
   border-radius:15px 15px 0px 15px;
}

#UserLogin td{
  padding-top:3rem;
  padding-left:2rem;
  padding-right:3rem;
 
  
}
#filter table{
  box-shadow:4px 4px 2px 3px rgb(33,124,126);
  border-radius:15px 15px 0px 15px;}
#filter td{
  padding: 2rem;
  
}

#centralimage {
  margin-top: 3rem;
}